body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    background: #0b1019;
    color: #ffffff;
}

.header {
    border-bottom: 1px solid #1f2937;
    background: #111927;
}

.header-inner {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 40px;
    font-size: 24px;
    font-weight: 600;
}
.page-container {
    padding: 40px;
    max-width: 1200px;
    margin: 0 auto;
}
.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    gap: 24px;
    align-items: start;
}
.card {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: #111927;
    border-radius: 14px;
    border: 1px solid #1f2937;
    padding: 16px;
    height: 100%;
    min-height: 380px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.35);
}

.card-img-container {
    position: relative;
    width: 100%;
    height: 260px;
    flex-shrink: 0;
    overflow: hidden;
}

.card-category {
    position: absolute;
    top: 10px;
    left: 10px;

    background: rgba(0, 0, 0, 0.7);
    color: #ffffff;

    padding: 4px 10px;
    font-size: 12px;
    border-radius: 20px;

    backdrop-filter: blur(4px);
    z-index: 2;
}

.card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
}

.card-body {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.card-title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 8px;
}

.card-text {
    font-size: 14px;
    color: #d1d5db;
    margin-bottom: 6px;
    flex-grow: 1;
}

.card-price {
    font-size: 15px;
    font-style: italic;
    margin-bottom: 6px;
}

.card-button {
    padding: 8px 12px;
    background-color: #0b1019;
    color: #ffffff;
    border-radius: 12px;
    border: 1px solid #374151;
    width: 100%;
    margin-top: auto;
    cursor: pointer;
    transition: background 0.2s ease;
}

.card-button:hover {
    background-color: #1f2937;
}