$primary-color: #0b1019;
$card-color: #111927;
$font-size-title: 20px;
$font-size-text: 16px;
$border-radius: 16px;
$border: 1px solid black;

//mixin
@mixin card {
  display: flex;
  flex-direction: column;
  background-color: $card-color;
  border-radius: $border-radius;
  border: $border;
  padding: 20px;
  max-width: 250px;
  min-height: 420px;
}
body {
  font-family: "Roboto", sans-serif;
  background: $primary-color;
}
.cards {
  display: flex;
  flex-direction: row;
  gap: 24px;
}
//карточка и вложенность
.card {
  @include card;

  &-img-container {
    width: 240px;
    height: 300px;
  }

  &-body {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  &-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: $border-radius;
  }

  &-title {
    font-size: $font-size-title;
    font-weight: 600;
    color: #ffffff;
  }

  &-text {
    font-size: $font-size-text;
    color: #ffffff;
  }

  &-price {
    font-size: $font-size-text;
    font-style: italic;
    color: #ffffff;
  }

  &-button {
    padding: 10px 14px;
    font-family: "Roboto", sans-serif;
    background-color: $primary-color;
    color: #ffffff;;
    border-radius: $border-radius;
    width: 100%;
    margin-top: auto;
  }
}

